*, html, body, p, h1, h2, h3, h4, h5, h6, a, li, ul, div {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html body {
  background-color: #f2f2f2;
  position: relative; }

.my-button {
  font-size: 12px;
  font-size: 0.75rem;
  color: #f2f2f2;
  background-color: #229BB2;
  padding: 6px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  width: 80px;
  box-shadow: 1px 1px 5px #999;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  .my-button:hover {
    background-color: #1C8296; }
  .my-button:active {
    transform: translateY(1px);
    box-shadow: none;
    outline: none; }
  .my-button:focus {
    outline: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media only screen and (max-width: 30em) {
  .unfloat-small {
    float: none; } }

@media only screen and (max-width: 40em) {
  .unfloat-med {
    float: none; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.wrapper {
  width: 860px;
  margin: 0 auto; }
  @media only screen and (max-width: 30em) {
    .wrapper {
      width: 100%; } }
  @media only screen and (max-width: 40em) {
    .wrapper {
      width: 100%; } }

.media-card {
  width: 215px;
  height: 300px;
  padding: 6px; }
  .media-card:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 30em) {
    .media-card {
      width: 90%;
      margin: 10px auto; } }
  @media only screen and (max-width: 30em) {
    .media-card p {
      font-size: 11px;
      font-size: 0.6875rem; } }
  @media only screen and (max-width: 40em) {
    .media-card {
      width: 90%;
      margin: 10px auto; } }
  .media-card .inner-card {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px #999; }
    .media-card .inner-card .media-card-photo {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 50%; }
    .media-card .inner-card .media-card-textbox {
      width: 100%;
      height: 50%;
      padding: 12px;
      background-color: #f2f2f2; }
      .media-card .inner-card .media-card-textbox h5 {
        color: #737373; }
      .media-card .inner-card .media-card-textbox p {
        padding: 10px 0;
        color: #999; }
    .media-card .inner-card:hover {
      box-shadow: 1px 1px 8px #737373; }
  .media-card .logo-box {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .media-card .logo-box h1 {
      color: #f2f2f2;
      text-align: center;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 0.9;
      padding-bottom: 12px; }
    .media-card .logo-box p {
      color: #f2f2f2;
      text-align: center; }

.tiny-card {
  width: 215px;
  height: 150px;
  padding: 6px; }
  @media only screen and (max-width: 30em) {
    .tiny-card {
      width: 90%;
      margin: 10px auto; } }
  @media only screen and (max-width: 40em) {
    .tiny-card {
      width: 90%;
      margin: 10px auto; } }
  .tiny-card .inner-card {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px #999;
    position: relative; }
    .tiny-card .inner-card p {
      position: absolute;
      font-size: 10px;
      font-size: 0.625rem;
      bottom: 6px;
      left: 6px;
      color: #f2f2f2;
      text-shadow: 1px 1px 1px black; }
      @media only screen and (max-width: 30em) {
        .tiny-card .inner-card p p {
          font-size: 9px;
          font-size: 0.5625rem; } }
    .tiny-card .inner-card:hover {
      box-shadow: 1px 1px 8px #737373; }

.tall-card {
  width: 215px;
  height: 450px;
  padding: 6px; }
  @media only screen and (max-width: 30em) {
    .tall-card {
      width: 90%;
      margin: 10px auto;
      height: 500px; } }
  @media only screen and (max-width: 40em) {
    .tall-card {
      width: 90%;
      margin: 10px auto;
      height: 600px; } }
  .tall-card .inner-card {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-shadow: 1px 1px 5px #999; }
    .tall-card .inner-card img {
      width: 80%;
      height: auto;
      margin: 0 auto; }
    .tall-card .inner-card h5 {
      margin: 5px auto 25px auto;
      color: #737373; }
    .tall-card .inner-card .sub-text {
      border-top: 1pt solid #FFB97D;
      padding-top: 10px; }
      .tall-card .inner-card .sub-text:first-of-type {
        border: none;
        margin-top: 20px;
        padding-top: 0; }
    .tall-card .inner-card p {
      color: #999;
      padding: 5px 0; }
      @media only screen and (max-width: 30em) {
        .tall-card .inner-card p {
          font-size: 11px;
          font-size: 0.6875rem; } }
    .tall-card .inner-card .my-button {
      margin: 12px auto 0 auto; }
    .tall-card .inner-card:hover {
      box-shadow: 1px 1px 8px #737373; }

.photobox {
  width: 430px;
  height: 300px;
  padding: 6px;
  position: relative; }
  @media only screen and (max-width: 30em) {
    .photobox {
      width: 90%;
      margin: 10px auto; }
      .photobox p {
        font-size: 11px;
        font-size: 0.6875rem; } }
  @media only screen and (max-width: 40em) {
    .photobox {
      width: 90%;
      margin: 10px auto; } }
  .photobox .inner-card {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px #999; }
    .photobox .inner-card .box-image-label {
      position: absolute;
      bottom: 6px;
      left: 6px;
      width: 50%;
      height: 80px;
      padding: 15px;
      background-color: #f2f2f2; }
      .photobox .inner-card .box-image-label p {
        color: #999; }
      .photobox .inner-card .box-image-label .sub-text {
        padding-bottom: 10px; }
    .photobox .inner-card:hover {
      box-shadow: 1px 1px 8px #737373; }

.hidden {
  display: none; }

.show {
  display: block; }

.back-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  visibility: hidden;
  background-color: transparent !important; }

html body .arrow-show {
  visibility: visible; }

*, html, body, p, h2, h3, h4, h5, a, li, ul, div, .sub-text {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #999; }

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 72px;
  font-size: 4.5rem; }

h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

h2 {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 500; }

h3 {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 500; }

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500; }

.sub-text {
  font-size: 11px;
  font-size: 0.6875rem; }

ul li {
  list-style: inherit;
  list-style-image: inherit;
  list-style-position: inside;
  display: list-item;
  position: relative; }

ol li {
  list-style: decimal;
  list-style-image: inherit;
  list-style-position: inside;
  display: list-item; }

ul span {
  position: absolute;
  left: 9px; }

a {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
  color: #229BB2; }
  a:hover {
    color: #1C8296; }

nav {
  width: 150px;
  height: 70px;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 5000; }
  nav i {
    line-height: 1;
    color: #f2f2f2;
    opacity: 0.8;
    padding: 15px 12px;
    float: left;
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    nav i:hover {
      opacity: 1; }
    nav i:active {
      transform: translateY(1px);
      text-shadow: none; }

.invert-nav {
  background-color: #229BB2;
  opacity: 1;
  transform: translateX(-5px); }
  .invert-nav:active {
    transform: none;
    text-shadow: none;
    transform: translateX(-5px); }

.nav-icons {
  width: 150px;
  height: 70px;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 5000; }
  .nav-icons i {
    line-height: 1;
    color: #f2f2f2;
    opacity: 0.8;
    padding: 15px 12px;
    float: right;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .nav-icons i:hover {
      opacity: 1; }

header {
  z-index: 1900;
  height: 80vh;
  max-height: 960px;
  width: 100%;
  background-color: #333;
  background-image: url(../images/mountains.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px; }
  header .logo-box {
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center; }
    header .logo-box img {
      height: 70px;
      width: 70px; }
  header h1 {
    color: #f2f2f2;
    text-shadow: 2px 2px 2px black; }
    @media only screen and (max-width: 30em) {
      header h1 {
        font-size: 46px;
        font-size: 2.875rem; } }

.mega-menu {
  z-index: 2000;
  height: 5px;
  background-color: #229BB2;
  position: fixed;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .mega-menu ul {
    margin: 0;
    padding: 0;
    min-width: 150px;
    padding-right: 48px;
    list-style: none; }
    .mega-menu ul strong {
      color: #f2f2f2;
      text-shadow: 1px 1px 1px #333;
      font-size: 18px;
      font-size: 1.125rem;
      letter-spacing: 1px; }
      @media only screen and (max-width: 40em) {
        .mega-menu ul strong {
          font-size: 14px;
          font-size: 0.875rem; } }
      @media only screen and (max-width: 30em) {
        .mega-menu ul strong {
          font-size: 11px;
          font-size: 0.6875rem; } }
    .mega-menu ul li {
      padding-top: 16px;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -ms-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
      color: #f2f2f2;
      padding-left: 10px; }
      .mega-menu ul li:hover {
        color: #FFB97D;
        transform: translateX(3px); }
      @media only screen and (max-width: 40em) {
        .mega-menu ul li {
          font-size: 12px;
          font-size: 0.75rem; } }
      @media only screen and (max-width: 30em) {
        .mega-menu ul li {
          font-size: 10px;
          font-size: 0.625rem;
          padding-top: 6px; } }
  .mega-menu ul > li:first-child {
    padding-top: 0;
    padding-left: 0; }
    .mega-menu ul > li:first-child:hover {
      transform: none; }
  .mega-menu .mega-col {
    width: 23%;
    height: auto;
    padding: 12px;
    margin-top: 40px;
    float: left; }
    @media only screen and (max-width: 30em) {
      .mega-menu .mega-col {
        float: none;
        margin-top: 12px; } }

.mega-menu > .mega-col:first-child {
  margin-left: 35px; }
  @media only screen and (max-width: 40em) {
    .mega-menu > .mega-col:first-child {
      margin-left: 30px; } }
  @media only screen and (max-width: 30em) {
    .mega-menu > .mega-col:first-child {
      margin-left: 0;
      margin-top: 40px; } }

.menu-expand {
  height: 330px; }
  @media only screen and (max-width: 40em) {
    .menu-expand {
      height: 280px; } }
  @media only screen and (max-width: 30em) {
    .menu-expand {
      height: 80vh; } }

main {
  margin-bottom: 70px; }
  main .boximage1 {
    background-image: url(../images/snowboard3.jpg); }
  main .boximage3 {
    background-image: url(../images/small-mountains.jpg); }
  main .boximage4 {
    background-image: url(../images/snow-forest.jpg); }
  main .boximage5 {
    background-image: url(../images/snowboard2.jpg); }
  main .boximage6 {
    background-image: url(../images/snowboard1.jpg); }
  main .boximage7 {
    background-image: url(../images/snowboard4.jpg); }
  main .boximage8 {
    background-image: url(../images/lodging.jpg); }
  main .boximage9 {
    background-image: url(../images/skiing.jpg); }
  main .boximage10 {
    background-image: url(../images/snowboard2.jpg); }
  main .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  main .button-box {
    margin-top: 70px;
    width: 425px;
    height: 135px;
    border: 2px solid #B26E34;
    padding: 12px; }
    main .button-box p {
      text-align: center;
      padding: 12px; }
    @media only screen and (max-width: 30em) {
      main .button-box {
        height: 320px;
        width: 90%;
        margin: 0 auto; } }
  main .the-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 30em) {
      main .the-buttons {
        flex-direction: column;
        height: 170px; } }
    main .the-buttons .my-button {
      margin: 6px; }
      @media only screen and (max-width: 40em) {
        main .the-buttons .my-button {
          width: 60px;
          font-size: 10px;
          font-size: 0.625rem; } }
      @media only screen and (max-width: 30em) {
        main .the-buttons .my-button {
          font-size: 10px;
          font-size: 0.625rem; } }

.carousel-box {
  width: 100%;
  height: 600px;
  margin-bottom: 70px;
  position: relative; }
  .carousel-box:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 30em) {
    .carousel-box {
      margin-bottom: 240px; } }
  @media only screen and (max-width: 40em) {
    .carousel-box {
      margin-bottom: 675px; } }
  .carousel-box .left-car, .carousel-box .right-car {
    width: 50%;
    height: 100%; }
  .carousel-box .left-car {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 40em) {
      .carousel-box .left-car {
        float: none;
        width: 100%; } }
  .carousel-box .right-car {
    float: right;
    align-items: center;
    justify-content: center;
    display: flex; }
    .carousel-box .right-car:after {
      content: "";
      display: table;
      clear: both; }
    @media only screen and (max-width: 40em) {
      .carousel-box .right-car {
        float: none;
        width: 100%; }
        .carousel-box .right-car:after {
          content: "";
          display: table;
          clear: both; } }
  .carousel-box .fa-arrow-left {
    position: absolute;
    color: #f2f2f2;
    opacity: 0.5;
    z-index: 3000;
    left: 10px;
    top: 45%;
    text-shadow: 2px 2px 12px #333; }
    .carousel-box .fa-arrow-left:hover {
      opacity: 0.9; }
    .carousel-box .fa-arrow-left:active {
      transform: translateY(1px); }
  .carousel-box .fa-arrow-right {
    position: absolute;
    color: #f2f2f2;
    opacity: 0.5;
    z-index: 3000;
    right: 10px;
    top: 45%;
    text-shadow: 2px 2px 12px #333; }
    .carousel-box .fa-arrow-right:hover {
      opacity: 0.9; }
    .carousel-box .fa-arrow-right:active {
      transform: translateY(1px); }
    @media only screen and (max-width: 30em) {
      .carousel-box .fa-arrow-right {
        top: 140%; } }
    @media only screen and (max-width: 40em) {
      .carousel-box .fa-arrow-right {
        top: 140%; } }
  .carousel-box .right-car1 {
    background-color: #FFAB63; }
  .carousel-box .right-car2 {
    background-color: #229BB2; }
  .carousel-box .right-car3 {
    background-color: #737373; }
  .carousel-box .image-state-1 {
    background-image: url(../images/the-lodge.jpg); }
  .carousel-box .image-state-2 {
    background-image: url(../images/the-slopes.jpg); }
  .carousel-box .image-state-3 {
    background-image: url(../images/dining.jpg); }
  .carousel-box .inner-right-car {
    padding: 60px; }
    .carousel-box .inner-right-car p, .carousel-box .inner-right-car em, .carousel-box .inner-right-car a {
      font-size: 18px;
      font-size: 1.125rem;
      color: #f2f2f2; }
    .carousel-box .inner-right-car a {
      color: #B1F2FF; }
      .carousel-box .inner-right-car a:hover {
        text-decoration: underline; }
    .carousel-box .inner-right-car h2, .carousel-box .inner-right-car p {
      color: #f2f2f2;
      padding: 24px 0; }
    .carousel-box .inner-right-car .my-button {
      background-color: rgba(255, 255, 255, 0);
      outline: 2px solid #f2f2f2;
      box-shadow: none;
      font-size: 18px;
      font-size: 1.125rem;
      width: 150px; }
      .carousel-box .inner-right-car .my-button:hover {
        background-color: #f2f2f2;
        color: #737373; }
  .carousel-box .inner-right-car > p:last-of-type {
    padding-bottom: 48px; }

section .section-box {
  width: 80%;
  border: 2px solid #B26E34;
  padding: 12px; }
  section .section-box p {
    text-align: center;
    padding: 12px; }
  section .section-box h3 {
    color: #229BB2;
    text-align: center;
    padding: 12px; }
section .section-media-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 70px; }
  @media only screen and (max-width: 30em) {
    section .section-media-box {
      flex-direction: column; } }
  @media only screen and (max-width: 40em) {
    section .section-media-box {
      flex-direction: column; } }
section .boximage11 {
  background-image: url(../images/dining.jpg); }
section .boximage12 {
  background-image: url(../images/drinks.jpg); }
section .boximage13 {
  background-image: url(../images/danger.jpg); }
section .boximage14 {
  background-image: url(../images/dom.jpg); }

.footer-hero {
  min-height: 600px;
  width: 100%;
  background-color: #333;
  background-image: url(../images/mountains-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .footer-hero .footer-hero-box h1, .footer-hero .footer-hero-box p, .footer-hero .footer-hero-box h4 {
    color: #f2f2f2;
    text-align: center;
    text-shadow: 2px 2px 2px black; }
  .footer-hero .footer-hero-box h1 {
    font-size: 48px;
    font-size: 3rem; }
  .footer-hero .footer-hero-box p {
    font-size: 16px;
    font-size: 1rem;
    padding-bottom: 12px; }
    @media only screen and (max-width: 30em) {
      .footer-hero .footer-hero-box p {
        padding: 6px; } }
    @media only screen and (max-width: 40em) {
      .footer-hero .footer-hero-box p {
        padding: 6px; } }
  .footer-hero .footer-hero-box h4 {
    padding: 0 0 12px 0; }
  .footer-hero .footer-hero-box form {
    margin-top: 30px;
    padding: 24px; }
    .footer-hero .footer-hero-box form .form-col1, .footer-hero .footer-hero-box form .form-col2, .footer-hero .footer-hero-box form .form-col3 {
      width: 33%;
      height: auto; }
    .footer-hero .footer-hero-box form input {
      display: inline;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 2px solid #f2f2f2;
      margin: 6px;
      padding-left: 0;
      width: 95%;
      font-size: 16px;
      font-size: 1rem;
      color: #FFB97D; }
      .footer-hero .footer-hero-box form input:focus {
        outline: none; }
    .footer-hero .footer-hero-box form p {
      text-align: center; }
    .footer-hero .footer-hero-box form .submit-box {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .footer-hero .footer-hero-box form .submit-button {
      border: 2px solid #f2f2f2;
      width: 100px;
      background-color: rgba(255, 255, 255, 0);
      color: #f2f2f2;
      padding: 12px;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -ms-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      .footer-hero .footer-hero-box form .submit-button:hover {
        background-color: #1C8296;
        cursor: pointer; }
      .footer-hero .footer-hero-box form .submit-button:active {
        transform: translateY(1px); }
  .footer-hero .footer-hero-box .social-box {
    padding: 24px;
    border: 2px solid #f2f2f2;
    margin: 0 auto;
    width: 80%; }
    .footer-hero .footer-hero-box .social-box .social-icon-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px; }
      .footer-hero .footer-hero-box .social-box .social-icon-box .fa {
        color: white;
        text-shadow: 2px 2px 2px black;
        margin: 6px;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
        .footer-hero .footer-hero-box .social-box .social-icon-box .fa:hover {
          color: #1C8296; }
        .footer-hero .footer-hero-box .social-box .social-icon-box .fa:active {
          transform: translateY(1px); }

footer {
  min-height: 400px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer h1 {
    font-size: 48px;
    font-size: 3rem; }
  footer strong {
    font-size: 18px;
    font-size: 1.125rem; }
  footer .footer-box p {
    padding-bottom: 24px;
    font-size: 16px;
    font-size: 1rem; }
    @media only screen and (max-width: 40em) {
      footer .footer-box p {
        text-align: center; } }
  footer .footer-box h1 {
    margin-left: 20%;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    color: #B26E34; }
    footer .footer-box h1:hover {
      transform: translateY(1pt); }
    @media only screen and (max-width: 40em) {
      footer .footer-box h1 {
        margin-left: 10%; } }
  footer .footer-box img {
    margin-right: 20%;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    footer .footer-box img:hover {
      transform: translateY(1pt); }
    @media only screen and (max-width: 40em) {
      footer .footer-box img {
        margin-right: 10%; } }
  @media only screen and (max-width: 30em) {
    footer .footer-box {
      margin: 24px 50px; } }
  @media only screen and (max-width: 40em) {
    footer .footer-box {
      margin: 50px auto 50px auto; } }
  footer ul {
    min-width: 150px;
    padding-right: 48px;
    list-style: none; }
    @media only screen and (max-width: 30em) {
      footer ul {
        margin-top: 24px;
        margin-left: 0;
        padding-right: 0; } }
    @media only screen and (max-width: 40em) {
      footer ul {
        margin-top: 24px;
        margin-left: 0;
        padding-right: 0; } }
    footer ul li {
      padding-top: 16px;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -ms-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      footer ul li:hover {
        color: #229BB2;
        font-weight: 500; }
      @media only screen and (max-width: 30em) {
        footer ul li {
          text-align: center; } }
  footer ul > li:first-child {
    padding-top: 0; }

.sub-footer {
  min-height: 100px;
  width: 100%;
  background-color: #229BB2; }
  .sub-footer p, .sub-footer strong, .sub-footer a {
    color: #f2f2f2;
    font-weight: 300;
    padding: 0 6px 6px 0;
    font-size: 12px;
    font-size: 0.75rem; }
    @media only screen and (max-width: 30em) {
      .sub-footer p, .sub-footer strong, .sub-footer a {
        padding: 6px;
        text-align: center; } }
    @media only screen and (max-width: 40em) {
      .sub-footer p, .sub-footer strong, .sub-footer a {
        text-align: center; } }
  .sub-footer div > p:first-child {
    padding-top: 26px; }
  .sub-footer strong {
    font-size: 16px;
    font-size: 1rem; }
  .sub-footer a {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .sub-footer a:hover {
      color: #B1F2FF; }
  .sub-footer .text-right {
    text-align: right;
    padding-right: 0; }
  .sub-footer i {
    color: #f2f2f2;
    padding-right: 6px; }
    @media only screen and (max-width: 30em) {
      .sub-footer i {
        margin-bottom: 24px; } }
    @media only screen and (max-width: 40em) {
      .sub-footer i {
        margin-bottom: 24px; } }

/*# sourceMappingURL=app.css.map */
