nav
  width: 150px
  height: 70px
  position: fixed
  top: 5px
  left: 5px
  z-index: 5000
  i
    line-height: 1
    color: $my-white
    opacity: 0.8
    padding: 15px 12px
    float: left
    text-shadow: 1px 1px 3px black
    cursor: pointer
    @include transition(.1s)
    &:hover
      opacity: 1
    &:active
      transform: translateY(1px)
      text-shadow: none

.invert-nav
  background-color: $highlight-dark
  opacity: 1
  transform: translateX(-5px)
  &:active
    transform: none
    text-shadow: none
    transform: translateX(-5px)
    
.nav-icons
  width: 150px
  height: 70px
  position: fixed
  top: 5px
  right: 5px
  z-index: 5000
  i
    line-height: 1
    color: $my-white
    opacity: 0.8
    padding: 15px 12px
    float: right
    @include transition(.1s)
    &:hover
      opacity: 1

header
  z-index: 1900
  height: 80vh
  max-height: 960px
  width: 100%
  background-color: $my-black
  background-image: url(../images/mountains.png)
  background-position: center top
  background-size: cover
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 70px

  .logo-box
    height: 70px
    width: 70px
    align-items: center
    justify-content: center
    img
      height: 70px
      width: 70px

  h1
    color: $my-white
    text-shadow: 2px 2px 2px black
    @include bp-small
      @include font-size(46px)
